# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environment
.venv/

# Ruff cache
.ruff_cache/

# Docker build output
*.tar

# IDE
.idea/
.vscode/

# OS
Thumbs.db
.DS_Store

reference/
